.button {
  align-items: center;
  background: white;
  border: 0;
  border-radius: 0.35rem;
  color: black;
  cursor: pointer;
  display: inline-flex;
  font-family: AkzidenzGroteskMedium, Arial, sans-serif;
  font-size: 1.15rem;
  font-weight: bold;
  letter-spacing: 0.05rem;
  line-height: 1;
  padding: 0.75rem 2rem;
  text-transform: uppercase;
}

.buttonThemeGreen {
  background-color: #5abba7;
  color: black;
}

.button:hover,
.button:focus {
  background-color: black;
  color: white;
  outline: none;
}

.buttonThemeGreen:hover,
.buttonThemeGreen:focus {
  background-color: white;
  color: #5abba7;
}

.button:active {
  transform: translateY(1px);
}

.button svg {
  color: #5abba7;
  height: 1.2rem;
  line-height: 1;
  width: 1.2rem;
}

.button svg:first-child {
  margin-right: 0.5rem;
}

.button svg:last-child {
  margin-left: 0.5rem;
}

.buttonThemeGreen svg {
  color: white;
}

.buttonThemeGreen:hover svg,
.buttonThemeGreen:focus svg {
  color: black;
}
