.button {
  background: white;
  border: 0;
  border-radius: 0.35rem;
  color: black;
  cursor: pointer;
  font-family: AkzidenzGroteskMedium, Arial, sans-serif;
  font-size: 1.15rem;
  font-weight: bold;
  letter-spacing: 0.05rem;
  padding: 0.75rem 2rem;
  text-transform: uppercase;
  vertical-align: middle;
}

.buttonThemeGreen {
  background-color: #5abba7;
  color: white;
}

.button:hover,
.button:focus {
  background-color: black;
  color: white;
  outline: none;
}

.buttonThemeGreen:hover,
.buttonThemeGreen:active {
  background-color: white;
  color: #5abba7;
}

.button:active {
  transform: translateY(1px);
}

.button svg {
  color: #5abba7;
  height: 1.3rem;
  margin-right: 0.5rem;
  position: relative;
  top: -0.1rem;
  vertical-align: middle;
  width: 1.3rem;
}
