.card {
  background-color: black;
  background-image: repeating-linear-gradient(
    45deg,
    rgba(0, 0, 0, 0.1),
    transparent 1px,
    transparent 1px,
    transparent 10px
  );
  border: 1px solid rgb(100, 100, 100);
  border-radius: 0.75rem;
  box-sizing: border-box;
  color: #5abba7;
  display: flex;
  flex-direction: column;
  height: 100%;
  left: 0;
  overflow: hidden;
  padding: 4rem 1.5rem 2rem 1.5rem;
  position: absolute;
  text-align: center;
  top: 0.75rem;
  width: 100%;
}

@media (min-width: 500px) {
  .card {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

.card:nth-child(1) {
  border-color: #5abba7;
  background-color: #5abba7;
  color: white;
  top: 0;
  z-index: 3;
}

.card:nth-child(2) {
  top: 0.25rem;
  z-index: 2;
}

.card:nth-child(3) {
  top: 0.3rem;
  z-index: 1;
}

.card:nth-child(4) {
  top: 0.5rem;
  z-index: 1;
}

.cardAsAnswer:nth-child(1) {
  background-color: black;
  background-image: repeating-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.2),
    transparent 1px,
    transparent 1px,
    transparent 10px
  );
}

.meta {
  color: black;
  display: block;
  font-family: AkzidenzGroteskMedium, Arial, sans-serif;
  letter-spacing: 0.05rem;
  padding: 0.5rem 1rem;
}

.metaContainer {
  display: block;
  font-size: 0.95rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
  text-transform: uppercase;
}

.question {
  flex-direction: column;
  font-size: 1.5rem;
  font-weight: 900;
  justify-content: center;
  line-height: 1.45;
  margin-bottom: 2rem;
  margin-top: 0;
}

@media (min-width: 500px) {
  .question {
    font-size: 2rem;
  }
}

@media (min-width: 740px) {
  .question {
    font-size: 2.35rem;
  }
}

.questionText {
  background: black;
  box-decoration-break: clone;
  color: white;
  display: inline;
  font-family: monospace;
  font-weight: 700;
  padding: 0.2rem 1rem;
}

.answer {
  color: white;
  display: flex;
  font-family: SabonNextRegular, Georgia, serif;
  flex: 1 0 auto;
  flex-direction: column;
  font-size: 1.25rem;
  justify-content: center;
  text-align: left;
}

@media (min-width: 500px) {
  .answer {
    font-size: 1.5rem;
  }
}

.source {
  display: inline-flex;
  font-family: SabonNextRegular, Georgia, serif;
  font-size: 0.75rem;
  font-style: italic;
  margin-top: 0.75rem;
  padding: 0.25rem;
}

@media (min-width: 500px) {
  .source {
    font-size: 0.95rem;
    margin-top: 1.5rem;
  }
}

.source::before {
  color: #5abba7;
  content: '—';
  font-weight: 700;
  margin-right: 0.5rem;
}

.footer {
  background-color: transparent;
  justify-self: flex-end;
  margin-top: auto;
}

.footer > * + * {
  margin-left: 1rem;
}

@media (min-width: 500px) {
  .footer > * + * {
    margin-left: 2rem;
  }
}
