.stack {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 3rem;
  margin-top: 2rem;
}

.container {
  height: 30rem;
  position: relative;
  max-width: 47rem;
  width: 100%;
}
